@font-face {
    font-family: "switzer";
    src: url("./media/font/Switzer-Variable.ttf") format("truetype");
}

@font-face {
    font-family: "instrument";
    src: url("./media/font/InstrumentSerif-Regular.ttf") format("truetype");

}

* {
    margin: 0;
    padding: 0;
}

.architecture {
    display: none;
    height: 100vh;
    background-image: url(./media/photo/bg_architecture.jpg);
    background-size: 100% 100%;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    color: white;
    text-transform: uppercase;
    font-size: 14rem;
    font-family: "switzer";
    font-weight: 600;
    letter-spacing: -7px;
}

.architecture :nth-child(1) {
    padding: 1rem;
    align-self: flex-start;
}

.architecture :nth-child(2) {
    align-self: center;
}

.architecture :nth-child(3) {
    align-self: flex-end;
    padding: 1rem;
}


.photographie {
    height: 100vh;
    text-transform: uppercase;
    font-size: 14rem;
    font-family: "switzer";
    font-weight: 600;
}

.bg_photographie {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F8F32B;
    overflow: hidden;
}

.bg_photographie::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("./media/photo/bg_photographie.jpg");
    background-size: 100% 100%;
    background-position: center;
    filter: brightness(85%);
    z-index: 0;
}

.photographie_titre {
    filter: brightness(100%);
    color: #F8F32B;
    z-index: 1;
}

.graphie_titre {
    font-family: "instrument";
    text-transform: lowercase;
}




@media (max-width: 1920px) {
    .architecture {
        font-size: 12rem;
    }

    .bg_photographie::before {
        background-size: contain;
        background-position: 0%;
    }
}

@media (max-width: 1650px) {
    .architecture {
        font-size: 10rem;
    }
}

@media (max-width: 1350px) {
    .architecture {
        font-size: 6rem;
    }
}

@media (max-width: 600) {
    .photographie_titre {
        text-orientation: upright;
    }
}